In [169]:
import pandas as pd

df = pd.read_csv('DataSet.csv')
# Set pandas option to display all columns
pd.set_option('display.max_columns', None)

In [170]:
df.drop_duplicates(subset=['title','location', 'department' , 'salary_range', 'company_profile', 'description', 'requirements', 'benefits','telecommuting', 'has_company_logo', 'has_questions', 'employment_type', 'required_experience', 'required_education', 'industry', 'function', 'fraudulent'], keep='first', inplace=True)
df.shape

(17632, 18)

In [171]:
display(df)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
0,Marketing Intern,"US, NY, New York",Marketing,NaN,"<h3>We're Food52, and we've created a groundbr...","<p>Food52, a fast-growing, James Beard Award-w...",<ul>\r\n<li>Experience with content management...,NaN,f,t,f,Other,Internship,NaN,NaN,Marketing,f,f
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"<h3>90 Seconds, the worlds Cloud Video Product...",<p>Organised - Focused - Vibrant - Awesome!<br...,<p><b>What we expect from you:</b></p>\r\n<p>Y...,<h3><b>What you will get from us</b></h3>\r\n<...,f,t,f,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,f,f
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,<h3></h3>\r\n<p>Valor Services provides Workfo...,"<p>Our client, located in Houston, is actively...",<ul>\r\n<li>Implement pre-commissioning and co...,NaN,f,t,f,NaN,NaN,NaN,NaN,NaN,f,f
3,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,<p>Our passion for improving quality of life t...,<p><b>THE COMPANY: ESRI – Environmental System...,<ul>\r\n<li>\r\n<b>EDUCATION: </b>Bachelor’s o...,<p>Our culture is anything but corporate—we ha...,f,t,f,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,f,f
4,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,<p>SpotSource Solutions LLC is a Global Human ...,<p><b>JOB TITLE:</b> Itemization Review Manage...,<p><b>QUALIFICATIONS:</b></p>\r\n<ul>\r\n<li>R...,<p>Full Benefits Offered</p>,f,t,t,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,<p>Vend is looking for some awesome new talent...,<p>Just in case this is the first time you’ve ...,<p>To ace this role you:</p>\r\n<ul>\r\n<li>Wi...,<p><b>What can you expect from us?</b></p>\r\n...,f,t,t,Full-time,Mid-Senior level,NaN,Computer Software,Sales,f,f
17876,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,<p>WebLinc is the e-commerce platform and serv...,<p></p>\r\n<p>The Payroll Accountant will focu...,<p></p>\r\n<p>- B.A. or B.S. in Accounting</p>...,<p></p>\r\n<h3>Health &amp; Wellness</h3>\r\n<...,f,t,t,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,f,f
17877,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,<p>We Provide Full Time Permanent Positions fo...,<p>Experienced Project Cost Control Staff Engi...,<ul>\r\n<li>At least 12 years professional exp...,NaN,f,f,f,Full-time,NaN,NaN,NaN,NaN,f,f
17878,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,<p>Nemsia Studios is looking for an experience...,<p>1. Must be fluent in the latest versions of...,<p>Competitive salary (compensation will be ba...,f,f,t,Contract,Not Applicable,Professional,Graphic Design,Design,f,f
17879,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,<p>Vend is looking for some awesome new talent...,<p><b>Who are we?</b></p>\r\n<p>Vend is an awa...,<p><b>We want to hear from you if:</b></p>\r\n...,NaN,f,t,t,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,f,f

In [172]:
unique_values = df['salary_range'].unique()
print(unique_values)

[nan '20000-28000' '100000-120000' '120000-150000' '50000-65000'
 '40000-50000' '60-80' '65000-70000' '75-115' '75000-110000' '17000-20000'
 '16000-28000' '95000-115000' '15000-18000' '50000-70000' '45000-60000'
 '30000-40000' '70000-90000' '10000-14000' '50-110' '28000-45000'
 '0-34300' '35000-40000' '9-12' '44000-57000' '18500-28000' '55000-75000'
 '30000-35000' '0-0' '20000-40000' '360000-600000' '50000-80000'
 '80000-100000' '52000-78000' '15750-15750' '40000-65000' '45000-50000'
 '30000-37000' '45000-67000' '35000-100000' '180000-216000' '45000-65000'
 '28000-32000' '0-1000' '36000-40000' '80000-110000' '35000-73000'
 '19000-19000' '60000-120000' '120000-15000000' '42000-55000'
 '90000-120000' '100000-150000' '28000-38000' '1600-1700' '50000-60000'
 '30000-70000' '32000-40000' '50-100' '9000-17000' '23040-28800' '105-110'
 '13000-16000' '100000-180000' '45000-55000' '9000-12000' '50000-90000'
 '25000-42000' '40000-60000' '600000-750000' '120000-170000' '45000-90000'
 '25000-30000' '65000-75000' '18000-19000' '100000-130000' '18000-20000'
 '22000-30000' '5000-6000' '36000-52000' '11000-11000' '110000-150000'
 '50000-150000' '100000-600000' '80000-120000' '10800-10800' '50000-72000'
 '35000-150000' '60000-100000' '70000-125000' '37000-37000' '0-130000'
 '75000-120000' '20000-20000' '45000-85000' '25000-35000' '120000-165000'
 '23000-32000' '18000-21000' '100000-300000' '65000-80000' '55000-60000'
 '40000-85000' '30000-60000' '40000-70000' '75000-85000' '320000-350000'
 '110000-140000' '20000-35000' '20000-26000' '70000-120000' '85000-125000'
 '9600-18000' '28000-40000' '90-120' '4001-6000' '18000-30000'
 '95000-125000' '30000-45000' '60000-75000' '30000-1000000' '40000-55000'
 '55000-65000' '35000-45000' '20000-30000' '90000-100000' '180000-240000'
 '75-100' '1161-1161' '36000-48000' '30000-50000' '60000-80000' '35-45'
 '15000-20000' '21000-25000' '16000-18500' '16000-24000' '110000-130000'
 '40000-45000' '28000-35000' '80000-105000' '36000-63000' '60000-90000'
 '124000-375000' '50-53' '90000-110000' '50000-55000' '33000-36000'
 '35000-65000' '26000-30000' '40000-80000' '9600-57600' '75000-125000'
 '24000-26000' '36000-50000' '85-140' '7000-9000' '75000-80000' '0-90000'
 '4500-4500' '25000-50000' '70-100' '70000-85000' '2500-3500'
 '130000-160000' '15000-30000' '65000-85000' '21120-30000' '48000-57600'
 '20000-50000' '84000-102000' '500000-650000' '24000-32000' '28000-42000'
 '80000-90000' '13-20' '1000-2000' '35000-120000' '1000-20000'
 '18000-22000' '50000-120000' '20000-25000' '75000-150000' '0-30000'
 '15000-17000' '14000-18000' '55386-66731' '115000-125000' '70000-80000'
 '21-63000' '16500-17500' '18000-25000' '14000-16000' '35000-50000' '3-4'
 '10000-15000' '15500-50000' '120000-240000' '60000-70000' '20000-38000'
 '23000-28000' '52000-57000' '4-4' '44624-53764' '12000-12000'
 '15600-15600' '1600-1600' '25000-36000' '8000-10000' '20000-23000'
 '100-200' '0-50000' '1100-1200' '100000-110000' '45000-45000'
 '96000-100000' '40000-40000' '33000-34000' '18000-44000' '16000-20000'
 '1050-1100' '50000-100000' '21000-21000' '9600-10500' '400000-650000'
 '10-15' '800000-2000000' '335000-400000' '1000-1000' '19000-24000'
 '45000-70000' '960000-1200000' '55-65' '23000-96000' '110000-120000'
 '50-70' '480000-600000' '1000-5000' '80000-175000' '35000-35000'
 '75000-100000' '24900-31200' '42000-48000' '27000-28000' '18000-23000'
 '10716-16074' '0-9360000' '0-268' '20000-22000' '37400-37400'
 '49000-58000' '80000-80000' '25000-40000' '15000-16000' '25000-75000'
 '100000-200000' '39000-100000' '140000-150000' '80000-119000'
 '80000-200000' '30000-38000' '20-3075' '40000-120000' '25000-27000'
 '25000-100000' '120000-160000' '16500-18500' '20000-60000' '36000-42000'
 '17000-19000' '40000-140000' '800000000-1200000000' '35000-55000'
 '0-45000' '40000-100000' '45-75' '42000-62000' '23000-26000'
 '70000-300000' '77000-97000' '16000-18000' '80000-130000' '18-22'
 '30000-37500' '50-60' '32500-37500' '140000-160000' '19800-20800'
 '13000-14000' '80000-85000' '0-1' '200000-600000' '12500-15000'
 '300000-330000' '39000-42000' '23000-24000' '70000-150000' '18720-21840'
 '29000-33000' '20000-24000' '130000-150000' '400000-600000' '17000-22000'
 '67000-70000' '12000-24000' '19000-36000' '540000-720000' '80000-84000'
 '180000-600000' '14560-17680' '450-500' '9600-14400' '32000-34000'
 '20-25' '1000-6000' '22000-25000' '30160-30160' '22000-26000'
 '110000-125000' '66000-84000' '30000-450000' '14000-17000' '18000-24000'
 '41000-45000' '12000-17000' '16000-19200' '60-70' '35000-60000' '13-15'
 '30000-30000' '80000-140000' '55000-70000' '8-9' '65000-120000' '0-25000'
 '0-15000' '36000-65000' '17000-32000' '0-24000' '0-1200000'
 '55000-100000' '200000-500000' '10000-16000' '14000-40000' '200-230'
 '3000-100000' '12000-45000' '721000-780000' '0-92000' '70-90'
 '22000-22000' '135-165' '2000-5000' '39000-41000' '30-50' '30000-36000'
 '90000-125000' '100000-240000' '2500-5000' '110-140' '2000-6000'
 '17000-21000' '95000-150000' '90000-130000' '70-120' '32000-36000'
 '55000-80000' '1000-3000' '350000-500000' '3000000-4000000' '25000-28000'
 '70000-130000' '100000-160000' '3000-6000' '30000-100000' '130000-145000'
 '20000-100000' '41600-62400' '6266624-8582080' '2000-2000' '20000-500000'
 '95000-110000' '19000-26000' '120000-130000' '140000-200000'
 '42000-80000' '34000-50000' '40000-75000' '22000-60000' '24000-28000'
 '0-100000' '800000-1200000' '60-150' '15000-75000' '10000-30000'
 '15000-25000' '0-2000' '33000-53000' '28000-28000' '50000-75000'
 '5000-10000' '40000' '17000-24000' '20000-36000' '29120-37440'
 '30000-48000' '35-100' '45000-96000' '1000-1500' '12500-14000'
 '40000-41000' '34000-35000' '7200-1380000' '26000-29000' '180000-200000'
 '0-20000' '20800-22880' '22000-28000' '14000-14000' '2000-40000'
 '23000-25000' '28000-30000' '12000-17500' '34000-38000' '32-35' '750-750'
 '35-40' '600000-800000' '20800-22800' '27-30' '250000-500000'
 '27000-32000' '85-95' '50000-85000' '500000-800000' '110-120' '20-22'
 '27500-36000' '300000-325000' '80-100' '60-75' '15-25' '240000-500000'
 '4000-5000' '0-65000' '17000-30000' '0-43500' '25-1000' '21600-31200'
 '23000-30000' '45-48' '36000-200000' '26000-52000' '900-900'
 '85000-95000' '160000-180000' '50000-300000' '80000-95000' '2800-3500'
 '100-150' '100-120' '26000-32000' '25000-45000' '32000-52000'
 '130000-180000' '2000-4000' '70000-110000' '45000-75000' '20000-27000'
 '2000000-15000000' '65000-72000' '6000000-7000000' '18000-18000'
 '55000-85000' '120000-120000' '60000-65000' '200000-250000' '37500-42500'
 '70000-100000' '29000-32000' '45-65' '0-35000' '0-150000' '14000-22400'
 '150000-160000' '200-250' '0-95000' '15000-200000' '65000-115000' '50-90'
 '18500-25000' '75000-90000' '92000-141000' '35-60' '1000-26000'
 '76800-96000' '46000-55000' '32000-45000' '27000-34000' '85000-110000'
 '12000-19000' '30000-34000' '196000-230000' '42000-58000'
 '150000-16500000' '60000-73000' '240000-240000' '17-20' '32000-46000'
 '100000-250000' '24000-27600' '25000-25000' '8000-13000' '22000-24000'
 '85000-120000' '40-50' '35000-95000' '35000-75000' '318278-400000'
 '120000-140000' '600000-1200000' '100000-117000' '45000-95000' '55-105'
 '33000-100000' '14400-24000' '24-25' '125-175' '250000-300000' '175-225'
 '14000-15000' '1000-10000' '120-160' '10000-100000' '25-28'
 '65000-100000' '48000-60000' '600000-1000000' '33280-37440' '5000-7000'
 '107000-115000' '80000-89000' '0-16000' '14-15' '45000-80000'
 '18720-19760' '35000-36000' '190000-220000' '35000-70000' '37000-40000'
 '1500000-2500000' '65000-110000' '700000-1200000' '23000-27000'
 '72000-144000' '5500-5500' '10000-20000' '420000-540000' '99000-99999'
 '0-180000' '0-120000' '25000-31000' '55000-68000' '4-6' '1300000-1800000'
 '40000-54000' '10000-120000' '100000-125000' '42000-54000'
 '220000-225000' '45000-58000' '0-110406' '3000-7000' '17-19'
 '24000-29000' '26000-31000' '250000-550000' '12000-15000' '168000-216000'
 '40-80' '125000-135000' '40000-46000' '10000-10000' '200000-300000'
 '90-110' '850-1000' '33000-63000' '9000-10000' '40-100' '900000-1200000'
 '26000-28000' '17000-35000' '17500-17500' '50000-50000' '150000-200000'
 '90-100' '10-10' '10-20' '13000-15000' '24000-36000' '100000-115000'
 '105000-125000' '65000-90000' '10000-22000' '6-18' '1000-1100'
 '3000-60000' '120000-135000' '38000-45000' '18500-27000' '30-40'
 '71000-72000' '30000-65000' '90000-150000' '200000-240000' '900-1000'
 '70000-160000' '32000-37440' '80-110' '29000-40000' '42000-46000'
 '1000000-1400000' '11-11' '1150-1150' '55000-90000' '10-11' '956-956'
 '40000-47000' '42000-42000' '90000-95000' '120000-125000' '125000-150000'
 '21000-35000' '14000-25000' '240000-300000' '300000-420000' '11-12'
 '14000-30000' '150-175' '2-4' '90000-140000' '25000-32000' '42000-60000'
 '15000-19000' '0-48000' '175000-250000' '60000-96000' '22000-40000'
 '150000-250000' '80000-150000' '25000-65000' '60000-72000'
 '550000-720000' '9240-13200' '41600-52000' '120000-180000' '50000-58000'
 '55000-79000' '10000-18000' '30000-80000' '300000-400000'
 '750000-1200000' '41000-50000' '36000-54000' '200000-700000'
 '10000-12000' '24000-30000' '100000-170000' '40000-90000' '1200-3000'
 '300000-600000' '77000-87000' '78000-80000' '0-60000' '115000-130000'
 '500000000-800000000' '85000-90000' '2500-2500' '44000-102000'
 '28000-34000' '70000-105000' '46000-62000' '2000000-2263000' '6000-20000'
 '15500-17500' '0-32000' '96000-240000' '15400-19600' '2000-2500'
 '45000-63000' '31181-37566' '16000-16000' '80000-250000' '32000-50000'
 '85000-100000' '45000-120000' '27000-34280' '16000-19000' '90000-115000'
 '1300-1500' '600000-840000' '19500-24000' '26400-36000' '43000-69000'
 '8000-14000' '60-65' '24000-35000' '65-75' '70-150' '60-90' '1200-1400'
 '60-85' '2-6' '38000-52000' '65-100' '528000-636000' '90-140000'
 '115-120' '45-70' '962-962' '2500-2800' '30000-31000' '80-120'
 '78000-115000' '30000-32000' '70000-126000' '11000-25000' '72000-108000'
 '48000-55000' '35000-48000' '1000000-1500000' '50-65' '38000-65000'
 '400000-500000' '60000-150000' '41600-50000' '104000-120000'
 '63000-63000' '37000-41600' '52000-100000' '120000-300000'
 '130000-170000' '91000-150000' '60000-95000' '7500-8000' '36000-60000'
 '12500-12500' '65000-77000' '33000-39000' '300000-500000' '1920-2000'
 '192000-288000' '32000-42000' '32000-37000' '45000-72000' '96000-120000'
 '70000-95000' '0-70000' '1000-1400' '7-12000' '10000-25000'
 '115000-160000' '60000-160000' '1000-4000' '30000-49000' '18000-26000'
 '30000-42000' '0-115' '14436-28000' '30000-40700' '34000-44000'
 '12000-18000' '110000-135000' '40-60' '16000-25000' '25-35' '38000-75000'
 '8000-20000' '16000-22000' '6000-15000' '24960-27040' '30000-39000'
 '55000-755000' '85000-105000' '48000-58000' '100000-400000'
 '96000-144000' '144000-192000' '45-85' '19200-33600' '60000-85000'
 '120000-264000' '27000-30000' '18720-18720' '13000-18000' '38000-48000'
 '1600-19000' '60000-130000' '120000-168000' '75000-95000' '3000-4000'
 '0-38000' '0-12500' '175000-275000' '32000-35000' '34000-45000'
 '21000-36000' '35000-42000' '200000-280000' '22-28' '30000-33000'
 '240000-600000' '65000-125000' '95000-105000' '300000-450000' '90-150'
 '30-35' '40-55' '45000-175000' '143520-197600' '85000-150000'
 '145600-187200' '166400-260000' '55-125' '33000-37000' '45-80'
 '200000-400000' '93600-122720' '65000-140000' '400000-450000' '8000-9000'
 '208000-270400' '360000-400000' '83200-114400' '93600-114400'
 '156000-187200' '70000-200000' '15-17' '20000-21000' '55-72' '50-95'
 '45-67' '55-67' '35000-38000' '48-60' '27000-29000' '45-55' '20800-20800'
 '240000-480000' '6000-10000' '1050-1050' '14000-36000' '14500-19000'
 '20000-260000' '55000-69000' '360000-500000' '50000-95000' '16-20'
 '140-160' '15500-16500' '10000-250000' '2000-3000' '4500-5000'
 '26000-50000' '25-30' '12-25' '1517-1517' '1234-12345' '34000-42000'
 '15-19' '21-31' '48000-65000' '53000-67000' '22-61000' '3700-3800']

## Exploratory Data Analysis

## Feature Engineering

In [173]:
display(df)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
0,Marketing Intern,"US, NY, New York",Marketing,NaN,"<h3>We're Food52, and we've created a groundbr...","<p>Food52, a fast-growing, James Beard Award-w...",<ul>\r\n<li>Experience with content management...,NaN,f,t,f,Other,Internship,NaN,NaN,Marketing,f,f
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"<h3>90 Seconds, the worlds Cloud Video Product...",<p>Organised - Focused - Vibrant - Awesome!<br...,<p><b>What we expect from you:</b></p>\r\n<p>Y...,<h3><b>What you will get from us</b></h3>\r\n<...,f,t,f,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,f,f
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,<h3></h3>\r\n<p>Valor Services provides Workfo...,"<p>Our client, located in Houston, is actively...",<ul>\r\n<li>Implement pre-commissioning and co...,NaN,f,t,f,NaN,NaN,NaN,NaN,NaN,f,f
3,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,<p>Our passion for improving quality of life t...,<p><b>THE COMPANY: ESRI – Environmental System...,<ul>\r\n<li>\r\n<b>EDUCATION: </b>Bachelor’s o...,<p>Our culture is anything but corporate—we ha...,f,t,f,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,f,f
4,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,<p>SpotSource Solutions LLC is a Global Human ...,<p><b>JOB TITLE:</b> Itemization Review Manage...,<p><b>QUALIFICATIONS:</b></p>\r\n<ul>\r\n<li>R...,<p>Full Benefits Offered</p>,f,t,t,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,<p>Vend is looking for some awesome new talent...,<p>Just in case this is the first time you’ve ...,<p>To ace this role you:</p>\r\n<ul>\r\n<li>Wi...,<p><b>What can you expect from us?</b></p>\r\n...,f,t,t,Full-time,Mid-Senior level,NaN,Computer Software,Sales,f,f
17876,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,<p>WebLinc is the e-commerce platform and serv...,<p></p>\r\n<p>The Payroll Accountant will focu...,<p></p>\r\n<p>- B.A. or B.S. in Accounting</p>...,<p></p>\r\n<h3>Health &amp; Wellness</h3>\r\n<...,f,t,t,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,f,f
17877,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,<p>We Provide Full Time Permanent Positions fo...,<p>Experienced Project Cost Control Staff Engi...,<ul>\r\n<li>At least 12 years professional exp...,NaN,f,f,f,Full-time,NaN,NaN,NaN,NaN,f,f
17878,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,<p>Nemsia Studios is looking for an experience...,<p>1. Must be fluent in the latest versions of...,<p>Competitive salary (compensation will be ba...,f,f,t,Contract,Not Applicable,Professional,Graphic Design,Design,f,f
17879,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,<p>Vend is looking for some awesome new talent...,<p><b>Who are we?</b></p>\r\n<p>Vend is an awa...,<p><b>We want to hear from you if:</b></p>\r\n...,NaN,f,t,t,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,f,f

In [174]:

import emoji, string
from bs4 import BeautifulSoup
import nltk
import re
from nltk.corpus import stopwords
nltk.download('stopwords')

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder


# TEXT PREPROCESSING FOR TEXTUAL COLUMNS

def clean_text_features(text):
    try:

      if pd.isnull(text):
        return ""
      
      #removing HTML tags
      text =  re.sub(r'<[^>]*>', '', text)

      # lowercase
      text = text.lower()
     
      # remove non alpha numeric
      text = re.sub(r'[^\w\s\.,:;!?\'"-]', '', text)

      # remove punctuation
      text = "".join([i for i in text if i not in string.punctuation])

      #remove emojis
      text = emoji.replace_emoji(text, replace="")
    
      # tokenize then remove stopwords
      words = text.split()
      stop_words = set(stopwords.words("english"))
      filtered_words = [word for word in words if word not in stop_words]

      # Rejoin words to form the cleaned text
      text = " ".join(filtered_words)
      
      return text

    except Exception as e:
      print(text)


df['clean_title'] = df['title'].apply(clean_text_features)
df['clean_benefits'] = df['benefits'].apply(clean_text_features)
df['clean_description'] = df['description'].apply(clean_text_features)
df['clean_requirements'] = df['requirements'].apply(clean_text_features)
df['clean_company_profile'] = df['company_profile'].apply(clean_text_features)
df['clean_combined_text_data'] = df['clean_title'] + ' ' + df['clean_description'] + ' ' + df['clean_requirements'] + ' ' + df['clean_company_profile'] + ' ' + df['clean_benefits']


# Encoding categorical columns
categorical_columns = ['location', 'department', 'employment_type', 'required_experience', 'required_education', 'industry', 'function']
encoded_features = []

for column in categorical_columns:
    if column in df.columns:
        le = LabelEncoder()
        encoded_column = le.fit_transform(df[column].fillna('Unknown'))  # Fill NaN with 'Unknown'
        encoded_features.append(pd.DataFrame(encoded_column, columns=[f"{column}_encoded"]))

encoded_features_df = pd.concat(encoded_features, axis=1)


# Encoding binary columns 
binary_columns = ['telecommuting', 'has_company_logo', 'has_questions', 'fraudulent', 'in_balanced_dataset']
for column in binary_columns:
    if column in df.columns:
        df[column] = df[column].apply(lambda x: 1 if x == 't' else 0)  # Convert 't' to 1 and 'f' to 0



# DROPPING RAW TEXTUAL COLUMNS THAT ARE UNUSED

columns_to_drop = ['title','benefits','description','requirements','company_profile','in_balanced_dataset']
df.drop(columns_to_drop, axis = 1, inplace = True)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/zendenleong/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [175]:
display(df)

,location,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,clean_title,clean_benefits,clean_description,clean_requirements,clean_company_profile,clean_combined_text_data
0,"US, NY, New York",Marketing,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0,marketing intern,,food52 fastgrowing james beard awardwinning on...,experience content management systems major pl...,food52 weve created groundbreaking awardwinnin...,marketing intern food52 fastgrowing james bear...
1,"NZ, , Auckland",Success,NaN,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,customer service cloud video production,get us part 90 seconds team gain experience wo...,organised focused vibrant awesomedo passion cu...,expect key responsibility communicate client 9...,90 seconds worlds cloud video production servi...,customer service cloud video production organi...
2,"US, IA, Wever",NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0,commissioning machinery assistant cma,,client located houston actively seeking experi...,implement precommissioning commissioning proce...,valor services provides workforce solutions me...,commissioning machinery assistant cma client l...
3,"US, DC, Washington",Sales,NaN,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,account executive washington dc,culture anything corporatewe collaborative cre...,company esri environmental systems research in...,education bachelors masters gis business admin...,passion improving quality life geography heart...,account executive washington dc company esri e...
4,"US, FL, Fort Worth",NaN,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,bill review manager,full benefits offered,job title itemization review manager location ...,qualifications rn license state texas diploma ...,spotsource solutions llc global human capital ...,bill review manager job title itemization revi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,"CA, ON, Toronto",Sales,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0,account director distribution,expect us open culture openly share results in...,case first time youve visited website vend awa...,ace role eat comprehensive statements work bre...,vend looking awesome new talent come join us y...,account director distribution case first time ...
17876,"US, PA, Philadelphia",Accounting,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0,payroll accountant,health amp wellness medical plan prescription ...,payroll accountant focus primarily payroll fun...,ba bs accounting desire fun love genuine passi...,weblinc ecommerce platform services provider f...,payroll accountant payroll accountant focus pr...
17877,"US, TX, Houston",NaN,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0,project cost control staff engineer cost contr...,,experienced project cost control staff enginee...,least 12 years professional experience ability...,provide full time permanent positions many med...,project cost control staff engineer cost contr...
17878,"NG, LA, Lagos",NaN,NaN,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0,graphic designer,competitive salary compensation based experien...,nemsia studios looking experienced visualgraph...,1 must fluent latest versions corel amp adobe ...,,graphic designer nemsia studios looking experi...
17879,"NZ, N, Wellington",Engineering,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0,web application developers,,vend award winning web based point sale softwa...,want hear indepth understanding oo programming...,vend looking awesome new talent come join us y...,web application developers vend award winning ...

# Train Validation Test Split (70 - 15 - 15)

In [176]:
from sklearn.model_selection import train_test_split

X = df.drop('fraudulent', axis=1, inplace=False)
y = df['fraudulent']  # Target variable to predict


# 70-15-15 train val test split
X_temp, X_test, y_temp, y_test = train_test_split(X, y, test_size = 0.15, random_state=0)
X_train, X_val, y_train, y_val = train_test_split(X_temp, y_temp, test_size = 0.15 / 0.85, random_state=42)

In [188]:
display(X_train.shape)

(12342, 17)

In [189]:
display(X_val.shape)

(2645, 17)

In [190]:
display(X_test.shape)

(2645, 17)

In [191]:
display(y_train.shape)

(12342,)

In [192]:
display(y_val.shape)

(2645,)

In [193]:
display(y_test.shape)

(2645,)

# Embeddings for textual data

In [183]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [184]:
#Count Vectorizer Embedding 
count_vect = CountVectorizer(analyzer='word', token_pattern=r'\w{1,}')
count_vect.fit(X_train['clean_combined_text_data'])
X_train_count =  count_vect.transform(X_train['clean_combined_text_data'])
X_val_count = count_vect.transform(X_val['clean_combined_text_data'])
X_test_count = count_vect.transform(X_test['clean_combined_text_data'])

#TFIDF Embedding 
tfidf_vect = TfidfVectorizer()
tfidf_vect.fit(X_train['clean_combined_text_data'])
X_train_tfidf = tfidf_vect.transform(X_train['clean_combined_text_data'])
X_val_tfidf = tfidf_vect.transform(X_val['clean_combined_text_data'])
X_test_tfidf = tfidf_vect.transform(X_test['clean_combined_text_data'])

In [185]:
display(X_train_count)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 2196674 stored elements and shape (12342, 60648)>

In [186]:
display(X_val_count)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 470637 stored elements and shape (2645, 60648)>

In [187]:
display(X_test_count)

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 469242 stored elements and shape (2645, 60648)>

# Machine Learning Models